body {
    font-family: Arial;
    background-color:aliceblue
}

h1 {   
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 70px;
}

p {
    font-size: 25px;
    background-color:bisque;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 20px;
}

a { 
    font-size: 20px;
    color: blueviolet; 
}

h2 {
    margin-top: 60px;
}

h3 {
    margin-top: 60px
}

img {
    width: 100%;
    max-width: 300px;
}